<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forensic Wace</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Features-Cards-icons.css">
    <link rel="stylesheet" href="assets/css/Forensic_WACE.css">
    <link rel="stylesheet" href="assets/css/index.css">

    <style>

        #discoverMore{
            background-color: #25292f;
            color: var(--bs-orange);
        }

        #discoverMore:hover{
            background-color: var(--bs-purple);
            color: white;
        }
    </style>

</head>

<body style="background: #f8f9fc;">
    <nav class="navbar navbar-light navbar-expand-md" style="width: 100%;">
        <div class="container-fluid">
            <a href="/"><img src="assets/img/Logo%20Forensic%20WACE.png" style="height: 45px;" /></a>
            <a class="btn btn-danger btn-icon-split" href="/exit" role="button"><span class="text-white-50 icon"><i class="fas fa-sign-out-alt"></i></span><span class="text-white text">EXIT</span></a>
        </div>
    </nav>
    <hr style="margin-top: 7px;margin-bottom: 13px;" />
    <section style="background: #25292f;">
        <div style="height: 600px;background: #25292f;">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div style="max-width: 350px;">
                            <h1 class="text-uppercase fw-bold" style="color: var(--bs-orange);"><i class="fab fa-github" style="color: var(--bs-purple);"></i> Available for <span style="color: var(--bs-white);">FREE</span> ON GitHub</h1>
                            <p class="my-3" style="color: var(--bs-white);">Join us! Embrace your forensic science passion and contribute to the growth of our tool. Let&#39;s investigate together!</p>
                            <a href="https://github.com/Alessiop01/ForensicWace.git" target="_blank" style="None"><button class="border rounded-pill" id="discoverMore" type="button" style="width: 100%; height: 48px; font-size: 20px; border-style: solid;">Discover more <i class="fas fa-external-link-alt"></i></button></a>
                        </div>
                    </div>
                    <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center"><img src="assets/img/GitHubBg.png" style="width: 130%;padding-right: 25%;" /></div>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Main characteristics</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><i class="fab fa-python"></i></div>
                        <h4 class="card-title">Wide compatibility</h4>
                        <p class="card-text">Thanks to its internal structure, the tool is able to run on any machine, assuming they have Python 3.11 or later versions</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon" style="background: var(--bs-success);"><i class="fas fa-shield-alt"></i></div>
                        <h4 class="card-title">Secure</h4>
                        <p class="card-text">Thanks to the local execution of the tool on your device, all files and data will be safe. No data is transmitted outside</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon" style="background: var(--bs-info);"><i class="fas fa-user-check"></i></div>
                        <h4 class="card-title">User friendly</h4>
                        <p class="card-text">Thanks to its user-friendly interface, the tool is very easy to use, providing an excellent user experience</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="margin-top: 0px;">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><i class="fas fa-file-signature"></i></div>
                        <h4 class="card-title">Anti-tampering reports</h4>
                        <p class="card-text">The tool provides a protection feature for generated reports, ensuring that they are tamper-proof</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon" style="background: var(--bs-success);"><i class="fab fa-creative-commons-nc-eu"></i></div>
                        <h4 class="card-title"><strong>FREE</strong> to use</h4>
                        <p class="card-text">The tool is provided for FREE to users who decide to use it. <strong>Developers take no responsibility for any problems arising from its use</strong></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon" style="background: var(--bs-info);"><i class="fab fa-chrome"></i></div>
                        <h4 class="card-title">Browser interface</h4>
                        <p class="card-text">The tool allows access to the developed functionalities through the use of any web browser. We suggest the use of Google Chrome</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center">
        <div class="container text-muted py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><svg class="bi bi-envelope-fill" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"></path>
                    </svg></li>
                <li class="list-inline-item me-4"><svg class="bi bi-github" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                    </svg></li>
                <li class="list-inline-item"><svg class="bi bi-linkedin" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"></path>
                    </svg></li>
            </ul>
            <p class="mb-0">Copyright © 2023 , Alessio Palmieri</p>
        </div>
    </footer>
</body>
</html>