audio.received::-webkit-media-controls-panel {
  background-color: rgba(57, 192, 237,.2);
}

audio.sent::-webkit-media-controls-panel {
  background-color: rgba(0, 197, 53,.2);
}

div.chatImage {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.chatMedia {
  border-radius: 15px;
  max-width: 100%;
}

img.avatar {
  width: 45px;
  height: 100%;
  margin-top: 4.8px;
}

